<template name="layout">
  <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container">
      {{> header}}
      <div class="visible-lg-block visible-md-block">
        <div id="main">
          {{> notifications}}
          <div class="container">
            {{> yield}}
          </div>
        </div>  
      </div>
      <div class="visible-sm-block visible-xs-block">
        <p>We're in an early development phase and not yet guarantee a flowless experience anywhere else but desktops</p>
      </div>
    </div>
  </body> <!-- /container --> 
</template>