<template name="projectsList">
  <div class="form-group">
    <input type="text" name="project-name" class="form-control project-name" placeholder="Add new project..." data-toggle="tooltip" data-placement="top" title="just type it in and press enter">
  </div>
  {{#if projects "active"}}
    <h5 class="text-muted"><span class="project-panel">filter projects</span></h5>
    <div class="list-group">
      {{#each projects "active"}}
        {{> projectItem}}
      {{/each}}
    </div>
  {{/if}}
  {{#if projects "inactive"}}
    <h5 class="text-muted"><span class="project-panel">inactive projects</span></h5>
    <div class="list-group">
      {{#each projects "inactive"}}
        {{> inactiveProjectItem}}
      {{/each}}
    </div>
  {{/if}}
</template>