<template name="inactiveProjectItem">
  <li id="{{this._id}}" class="list-group-item">
    <strong>
      {{name}}
    </strong>
    <small>
      [on board: {{ boardName board }}]
    </small>
    <a class="btn btn-default btn-xs margin-horizontal-sm pull-right deleteProject" tabindex="-1" href="#"><span class="fa fa-trash"></span> Remove project</a>
    <a class="btn btn-default btn-xs margin-horizontal-sm pull-right setProjectActive" tabindex="-1" href="#"><span class="fa fa-play text-success"></span> Make active</a>
  </li>
</template>