<template name="projectsList">
  <div class="page-header">
    <h3>Projects</h3>
  </div>
  <div class="form-group">
    <input type="text" name="project-name" class="form-control project-name" placeholder="Add new project..." data-toggle="tooltip" data-placement="top" title="just type it in and press enter">
  </div>
  {{#if projects "active"}}
    <h5 class="text-muted"><span>active projects</span></h5>
    <div class="list-group">
      {{#each projects "active"}}
        {{> projectItem}}
      {{/each}}
    </div>
  {{/if}}
  {{#if projects "inactive"}}
    <h5 class="text-muted"><span>inactive projects</span></h5>
    <div class="list-group">
      {{#each projects "inactive"}}
        {{> inactiveProjectItem}}
      {{/each}}
    </div>
  {{/if}}
  <h5 class="text-muted"><span>travel in time</span></h5>
  {{> datepicker}}
</template>

<template name="projectItem">
  <a href="#" id="{{this._id}}" class="list-group-item {{state}}">
    {{name}}
    {{> projectActions}}
  </a>
</template>

<template name="projectActions">
  <div id="btn-{{this._id}}" class="btn-group pull-right">
    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
       <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a class="setProjectName" tabindex="-1" href="#"><span class="fa fa-edit"></span> Edit name</a></li>
      <li><a class="setProjectInactive" tabindex="-1" href="#"><span class="fa fa-ban"></span> Make inactive</a></li>
      <li><a class="deleteProject" tabindex="-1" href="#"><span class="fa fa-trash"></span> Remove project</a></li>
    </ul>
  </div>
</template>

<template name="inactiveProjectItem">
  <a href="#" id="{{this._id}}" class="list-group-item disabled">
    {{name}}
    <div id="btn-{{this._id}}" class="btn-group pull-right">
      <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
         <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a class="setProjectActive" tabindex="-1" href="#"><span class="fa fa-play text-success"></span> Make active</a></li>
        <li><a class="deleteProject" tabindex="-1" href="#"><span class="fa fa-trash"></span> Remove project</a></li>
      </ul>
    </div>
  </a>
</template>


<template name="datepicker">
  <div class="panel-group" id="set-date-accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading mouse-hand" role="tab" id="headingOne" data-toggle="collapse" data-parent="#set-date-accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <span class="fa fa-calendar"></span>
              Change the date <span class="label label-info">{{now}}</span>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <div id="datepicker"></div>
            <button class="btn btn-primary btn-block set-date">Set date</button>
          </div>
        </div>
      </div>
    </div>
</template>