<template name="projectActions">
  <div id="btn-{{this._id}}" class="btn-group fade-on-hover project-settings">
    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
       <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a class="setResponsible" tabindex="-1" href="#"><span class="fa fa-angle-double-up"></span> Set responsibility</a></li>
      <li class="divider"></li>
      <li><a class="setProjectName" tabindex="-1" href="#"><span class="fa fa-edit"></span> Edit name</a></li>
      <li><a class="setProjectInactive" tabindex="-1" href="#"><span class="fa fa-ban"></span> Make inactive</a></li>
      <li><a class="deleteProject" tabindex="-1" href="#"><span class="fa fa-trash"></span> Remove project</a></li>
    </ul>
  </div>
</template>