<template name="landingPage">
  <div class="jumbotron">
    <div class="container text-center">
      <h1>TrackR</h1>
      <p>Check your goals to reach your vision.</p>
      <p>
         
        <a class="btn btn-primary btn-lg sign-up" href="#" role="button">Sign up &raquo;</a>
        
      </p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2 class="text-center"><span class="fa fa-check text-primary"></span></h2>
        <h3 class="text-center">check goals</h3>
      </div>
      <div class="col-md-4">
        <h2 class="text-center"><span class="fa fa-clock-o text-primary"></span></h2>
        <h3 class="text-center">regularly</h3>
     </div>
      <div class="col-md-4">
        <h2 class="text-center"><span class="fa fa-child text-primary"></span></h2>
        <h3 class="text-center">rejoice</h3>
      </div>
    </div>

    <hr>

    <footer>
      <p>&copy; <a href="http://tryfruit.com">TryFruit.com</a> 2015</p>
    </footer>
  </div>
</template>