body {
  padding-top: 30px;
}

/* h5 text in the middle of two hr-s*/

h5 { 
  width:100%; 
  text-align:center; 
  border-bottom: 1px solid #ccc; 
  line-height:0.1em; 
  margin:25px 0 20px; 
} 

h5 span { 
  background:#fff; 
  padding:0 10px; 
}

.action-dropdown {
  position: absolute;
  top: 8px;
  right: 8px;
}

input[type="text"].input-border {
  border-color: #ccc;
  outline: 0 none;
}

input[type="text"] {
  border-color: white;
  box-shadow: 0 0 0 white inset, 0 0 0 rgba(126, 239, 104, 0.6);
  outline: 0 none;
}
.no-border::-webkit-input-placeholder {
  text-align: center;
}
.no-border:-moz-placeholder {
  text-align: center;
}
.no-border:-ms-input-placeholder {
  text-align: center;
}

.text-condensed {
  font-size: 85%;
}

.fade-on-hover {
  display: none;
}

.board-settings {
  position: absolute;
  right: 20px;
  top: 5px;
}

.project-settings {
  position: absolute;
  right: 5px;
  top: 5px;
}

/* misc */
.mouse-hand {
  cursor: pointer;
}

.mouse-default {
  cursor: default;
}
