/* Notifications extra styling */
ul.notifications {
  top: 50px;
  width: 350px;
  position: fixed;
}

li.notification.error {
  background-color: #d9534f;
}
li.notification.warning {
  background-color: #f0ad4e;
}
li.notification.info {
  background-color: #5bc0de;
}
li.notification.success {
  background-color: #5cb85c;
}

/* h5 text in the middle of two hr-s*/

h5 { 
  width:100%; 
  text-align:center; 
  border-bottom: 1px solid #ccc; 
  line-height:0.1em; 
  margin:25px 0 20px; 
} 

h5 span { 
  background:#fff; 
  padding:0 10px; 
}

.action-dropdown {
  position: absolute;
  top: 8px;
  right: 8px;
}

.padding-right-30 {
  padding-right: 30px;
}

/* table fixed first col */
.table-responsive>.fixed-column {
    position: absolute;
    display: inline-block;
    width: auto;
    border-right: 1px solid #ddd;
    background-color: #fff;
}
@media(min-width:768px) {
    .table-responsive>.fixed-column {
        display: none;
    }
}

.text-condensed {
  font-size: 85%;
}
/*
table {
  table-layout:fixed;
}
*/

.table-content {
  height:500px;
  overflow-y:auto;
}

/* misc */
.mouse-hand {
  cursor: pointer;
}

.mouse-default {
  cursor: default;
}

.more-padding {
  padding-right: 10px;
}

.padding-top-5 {
  padding-top: 5px;
}

.padding-top-10 {
  padding-top: 10px;
}

.more-margin {
  margin-right: 5px;
}

.more-margin-top {
  margin-top: 5px;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.second-nav {
  top: 50px;
  max-height: 50px;
  overflow: hidden;
  background-color: white;
}

.truncate {
  width: 450px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.double-navbar-page {
  padding-top: 100px;
}