body {
  padding-top: 30px;
}

/* Notifications extra styling */
ul.notifications {
  top: 50px;
  width: 350px;
  position: fixed;
}

li.notification.error {
  background-color: #d9534f;
}
li.notification.warning {
  background-color: #f0ad4e;
}
li.notification.info {
  background-color: #5bc0de;
}
li.notification.success {
  background-color: #5cb85c;
}

/* h5 text in the middle of two hr-s*/

h5 { 
  width:100%; 
  text-align:center; 
  border-bottom: 1px solid #ccc; 
  line-height:0.1em; 
  margin:25px 0 20px; 
} 

h5 span { 
  background:#fff; 
  padding:0 10px; 
}

.action-dropdown {
  position: absolute;
  top: 8px;
  right: 8px;
}

/* table fixed first col */
.table-responsive>.fixed-column {
    position: absolute;
    display: inline-block;
    width: auto;
    border-right: 1px solid #ddd;
    background-color: #fff;
}
@media(min-width:768px) {
    .table-responsive>.fixed-column {
        display: none;
    }
}

input[type="text"].input-border {
  border-color: #ccc;
  outline: 0 none;
}

input[type="text"] {
  border-color: white;
  box-shadow: 0 0 0 white inset, 0 0 0 rgba(126, 239, 104, 0.6);
  outline: 0 none;
}
::-webkit-input-placeholder {
  text-align: center;
}
:-moz-placeholder {
  text-align: center;
}
:-ms-input-placeholder {
  text-align: center;
}

.text-condensed {
  font-size: 85%;
}
/*
table {
  table-layout:fixed;
}
*/

.table-content {
  height:500px;
  overflow-y:auto;
}

.fade-on-hover {
  display: none;
}

.board-settings {
  position: absolute;
  right: 20px;
  top: 5px;
}

.project-settings {
  position: absolute;
  right: 5px;
  top: 5px;
}

/* misc */
.mouse-hand {
  cursor: pointer;
}

.mouse-default {
  cursor: default;
}

.second-nav {
  top: 50px;
  max-height: 50px;
  overflow: hidden;
  background-color: white;
}

.truncate {
  width: 450px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.double-navbar-page {
  padding-top: 50px;
}

.wider-goals {
  height: 69px;
  background-color: #E6E6E6;
  border: 1px solid #B3B3B3;
}

.current-goals-header {
  height: 69px;
  background-color: #F4F4F4;
  border: 1px solid #B3B3B3;
}

.current-goals-body {
  border: 1px solid #B3B3B3;
}

.filter-goals {
  height: 69px;
  background-color: #B3B3B3;
  border: 1px solid #999999;
}

.project-column {
  background-color: #B3B3B3;
  border: 1px solid #999999;
}

.header-fixed {
  position: fixed;
  z-index: 1001;
  margin-top: -10px;
  margin-right: -15px;
  margin-left: -15px;
}

.body-scrollable {
  margin-top: 59px;
  margin-right: -15px;
  margin-left: -15px;
}

.goal-actions.padding-sm {
  width: 25px;
  padding: 5px 5px 0 0;
}

td {
  word-break: break-word;
}

.editable-click {
  border-bottom: none;
}

.goal-row {
  border-bottom: 1px solid #B3B3B3;
}

.margin-none.padding-none {
  padding: 0;
  margin: 0;
}