<template name="goals">
  {{#if projects "active"}}
    {{#each projects "active"}}
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="panel-title">
            <i class="panel-title-icon fa fa-cube"></i>
            {{name}}
          </span>
        </div> <!-- / .panel-heading -->
        
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading text-center">
                  <h3 class="panel-title" data-toggle="tooltip" data-placement="top" title="{{goalsRange "-1"}}" data-original-title="{{goalsRange "-1"}}">
                    {{viewBase}} {{modifiedDate "-1"}}
                  </h3>
                </div>

                <ul class="list-group">
                  {{#each goals "-1" _id ..}}
                    <li class="list-group-item {{addStateClass}}">
                      {{name}}
                      {{> goalActions}}
                    </li>
                  {{/each}}
                  <li class="list-group-item">
                    <input type="text" name="goal-name--1" class="form-control goal-name" placeholder="Add new goal..." data-mod="-1" data-project="{{this._id}}" data-toggle="tooltip" data-placement="bottom" title="just type it in and press enter">
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading text-center">
                  <h3 class="panel-title" data-toggle="tooltip" data-placement="top" title="{{goalsRange "0"}}" data-original-title="{{goalsRange "0"}}">
                    {{viewBase}} {{modifiedDate "0"}}
                  </h3>
                </div>

                <ul class="list-group">
                  {{#each goals "0" _id ..}}
                    <li class="list-group-item {{addStateClass}}">
                      {{name}}
                      {{> goalActions}}
                    </li>
                  {{/each}}
                  <li class="list-group-item">
                    <input type="text" name="goal-name-0" class="form-control goal-name" placeholder="Add new goal..." data-mod="0" data-project="{{this._id}}" data-toggle="tooltip" data-placement="bottom" title="just type it in and press enter">
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading text-center">
                  <h3 class="panel-title" data-toggle="tooltip" data-placement="top" title="{{goalsRange "+1"}}" data-original-title="{{goalsRange "+1"}}">
                    {{viewBase}} {{modifiedDate "+1"}}
                  </h3>
                </div>

                <ul class="list-group">
                  {{#each goals "+1" _id ..}}
                    <li class="list-group-item {{addStateClass}}">
                      {{name}}
                      {{> goalActions}}
                    </li>
                  {{/each}}
                  <li class="list-group-item">
                    <input type="text" name="goal-name-1" class="form-control goal-name" placeholder="Add new goal..." data-mod="+1" data-project="{{this._id}}" data-toggle="tooltip" data-placement="bottom" title="just type it in and press enter">
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> <!-- / .panel-body -->
      </div> <!-- / .panel -->

    </div>
    {{/each}}
  {{else}}
  <div class="alert alert-info" role="alert">
    <p class="lead"><span class="fa fa-long-arrow-left fa-lg text-danger"></span> Add a new active project to start.</p>
  </div>
  {{/if}}
</template>