<template name="goals">
  {{#if projects status="active" board=this._id sort=sort}}
    <!-- header row -->
    <div class="container header-fixed">
      <div class="row text-center">
        <div class="row-same-height row-full-height">
          <div class="col-xs-2 col-xs-height col-full-height padding-none filter-goals">
            <div class="btn-group">
              <input type="text" class="form-control project-name-search input-sm empty no-border" id="filterBar" placeholder="&#xF002; Filter projects" style="font-family:Arial, FontAwesome">
            </div>
          </div>
          {{#each headers}}
            <div class="col-xs-2 col-xs-height col-full-height padding-none {{widerContextHeaderClass this.view}}">
            {{> goalsHeading}} 
            </div>
          {{/each}}
        </div>
      </div>
    </div>
    <!-- / header row -->
    <!-- project rows -->
    <div class="container body-scrollable">
      {{#each projects status="active" board=this._id name=filterProjects sort=sort}}
          <div class="row">
            <div class="row-same-height row-full-height">
              <div class="col-xs-6 col-xs-height col-full-height project-column text-center">
                <h4 class="editable" data-type="text" data-name="project-name" data-pk="{{this._id}}" data-collection="Projects" data-display="false">
                  {{name}}
                </h4>
                <small class="text-muted">{{responsible}}</small>
                {{> projectActions}}
              </div>
              <!-- goal cells -->
                {{#each headers}}
                  <div class="col-xs-6 col-xs-height col-top padding-none {{widerContextBodyClass this.view}}">
                    {{> goalsList}}
                    {{#if widerContext this.view}}
                    {{else}}
                    <div class="form-group no-bottom-margin">
                      <input type="text" name="goal-name" class="form-control input-sm goal-name no-border" placeholder="add new goal..." data-board="{{../../_id}}" data-project="{{../_id}}" data-view="{{view}}" data-year="{{year}}" data-quarter="{{quarter}}" data-month="{{month}}" data-week="{{week}}" title="just type it in and press enter">
                    </div>
                    {{/if}}
                  </div>
                {{/each}}
              <!-- / goal cells -->
            </div>
          </div>
      {{/each}}
    </div>
    <div class="row">
      <div class="form-group">
        <input type="text"  name="project-name" class="form-control input-lg project-name no-border" placeholder="add new project...">
      </div>
    </div>
  {{else}}
    <div class="form-group">
      <input type="text"  name="project-name" class="form-control input-lg project-name no-border" placeholder="add new project...">
    </div>
  {{/if}}
  <!-- / project rows -->
</template>