<template name="inactiveBoardItem">
  <h4>
    {{name}}
    <div id="btn-{{this._id}}" class="btn-group fade-on-hover board-settings">
      <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
         <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a class="setBoardActive" tabindex="-1" href="#"><span class="fa fa-play text-success"></span> Make active</a></li>
        <li><a class="deleteBoard" tabindex="-1" href="#"><span class="fa fa-trash"></span> Remove board</a></li>
      </ul>
    </div>
  </h4>
</template>