<template name="boards">
  <div class="page-header">
    <h1>Boards <small>for organizing your amazing projects</small></h1>
  </div>
  <div class="form-group">
    <input type="text" name="board-name" class="form-control board-name" placeholder="Add new board..." data-toggle="tooltip" data-placement="top" title="just type it in and press enter">
  </div>
  {{#if boards "active"}}
    <div class="list-group">
      {{#each boards "active"}}
        {{> boardItem}}
      {{/each}}
    </div>
  {{/if}}
</template>